/* Background colors for the different sets */
.ncs {
    background-color: #00a9ce;
}

.zephyr {
    background-color: #a67dfb;
}

/* -- Intellinium addition */
.itl_lib {
    background-color: #4d6575;
}

.mcuboot {
    background-color: #159957;
}

.nrfxlib {
    background-color: #ff9933;
}

.nrfx {
    background-color: #0088e2;
}

.kconfig {
    background-color: #e82424;
}
