/* Background colors for the different sets */
.ncs {
    background-color: #00a9ce;
}

.zephyr {
    background-color: #a67dfb;
}

.mcuboot {
    background-color: #159957;
}

.nrfxlib {
    background-color: #ff9933;
}

.nrfx {
    background-color: #0088e2;
}

.kconfig {
    background-color: #e82424;
}

.tfm {
    background-color: #2980b9;
}

.matter {
    background-color: #6D42C8;
}


/* -- Intellinium additions */

.itl_car_pod {
    background-color: #59630e;
}

.itl_lib {
    background-color: #4d6575;
}

.itl_mat_pod {
    background-color: #6c6c9e;
}

.itl_tfl {
    background-color: #348780;
}
