#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "LTE UART DFU library"

config LTE_UART_DFU
	bool "LTE UART DFU library"
	depends on DFU_TARGET
	depends on DFU_TARGET_MCUBOOT
	depends on SERIAL
	depends on UART_INTERRUPT_DRIVEN

if LTE_UART_DFU

config LTE_UART_DFU_DEV_NAME
	string "UART interface name"
	default ""

config LTE_UART_DFU_HANDLER_STACK_SIZE
	int "Thread stack size"
	default 512

config LTE_UART_DFU_HANDLER_PRIORITY
	int "Thread priority"
	default 4

config LTE_UART_DFU_IN_BUFFER_SIZE
	int "Input buffer size"
	default 4096

config LTE_UART_DFU_OUT_BUFFER_SIZE
	int "Output buffer size"
	default 128

module=LTE_UART_DFU
module-dep=LOG
module-str=Device Firmware Upgrade using UART
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # LTE_UART_DFU

endmenu
